## UCI Online Retail Market Basket Analysis using Apriori Algorithm

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from mlxtend.frequent_patterns import apriori , association_rules

In [8]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (6.0.2)

In [6]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from mlxtend) (1.15.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from mlxtend) (2.1.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from mlxtend) (2.3.3)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from mlxtend) (3.10.8)
Requirement already satisfied: joblib>=0.13.2 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.61.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (11.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from pandas>=0.24.2->mlxtend) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from pandas>=0.24.2->mlxtend) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.17.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\chilesh\miniconda3\envs\newenv\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)

## EDA

In [14]:
df = pd.read_csv("Online Retail.csv",encoding = 'latin1')
df.head()

,ï»¿InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [15]:
## change in column name 
df.rename(columns={"ï»¿InvoiceNo":"InvoiceNO"},inplace = True)

In [16]:
df.head()

,InvoiceNO,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [24]:
df.isnull().sum()

InvoiceNO      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [22]:
## Handeling the missing values 

df = df[df['Quantity']>0]
df = df.dropna(subset=['CustomerID'])

In [23]:
df.head()

,InvoiceNO,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [26]:
basket = (df
          .groupby(['InvoiceNO', 'Description'])['Quantity']
          .sum()
          .unstack()
          .fillna(0))

basket = basket.applymap(lambda x: 1 if x > 0 else 0)

C:\Users\chilesh\AppData\Local\Temp\ipykernel_26512\1454695468.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket = basket.applymap(lambda x: 1 if x > 0 else 0)

In [27]:
frequent_items = apriori(basket,
                         min_support=0.02,
                         use_colnames=True)

print(frequent_items.head())

    support                           itemsets
0  0.021688         (3 STRIPEY MICE FELTCRAFT)
1  0.039167           (6 RIBBONS RUSTIC CHARM)
2  0.025140  (60 CAKE CASES VINTAGE CHRISTMAS)
3  0.035445      (60 TEATIME FAIRY CAKE CASES)
4  0.027028   (72 SWEETHEART FAIRY CAKE CASES)

In [28]:
rules = association_rules(frequent_items,
                          metric="lift",
                          min_threshold=1)

print(rules.head())

                    antecedents                   consequents  \
0   (ALARM CLOCK BAKELIKE RED )  (ALARM CLOCK BAKELIKE GREEN)
1  (ALARM CLOCK BAKELIKE GREEN)   (ALARM CLOCK BAKELIKE RED )
2   (ALARM CLOCK BAKELIKE RED )   (ALARM CLOCK BAKELIKE PINK)
3   (ALARM CLOCK BAKELIKE PINK)   (ALARM CLOCK BAKELIKE RED )
4        (DOLLY GIRL LUNCH BOX)         (SPACEBOY LUNCH BOX )

   antecedent support  consequent support   support  confidence       lift  \
0            0.047313            0.042566  0.028593    0.604333  14.197612
1            0.042566            0.047313  0.028593    0.671736  14.197612
2            0.047313            0.033071  0.021364    0.451539  13.653725
3            0.033071            0.047313  0.021364    0.646003  13.653725
4            0.033233            0.037980  0.022874    0.688312  18.122934

   representativity  leverage  conviction  zhangs_metric   jaccard  certainty  \
0               1.0  0.026579    2.419798       0.975731  0.466549   0.586742
1               1.0  0.026579    2.902200       0.970892  0.466549   0.655434
2               1.0  0.019799    1.762987       0.972786  0.361974   0.432781
3               1.0  0.019799    2.691230       0.958457  0.361974   0.628423
4               1.0  0.021612    3.086480       0.977300  0.473214   0.676006

   kulczynski
0    0.638035
1    0.638035
2    0.548771
3    0.548771
4    0.645292

In [30]:
frequent_items.to_csv("frequent_items.csv")
rules.to_csv("association_rules.csv")